## Pandas Series: Objetos Unidimensionais
## Base da análise de dados em tempo real

## Valores NaN (Not a Number)

In [1]:
import sys
import pandas as pd
import numpy as np
print(sys.version)
pd.__version__

# Se precisar instalar uma versão específica o pandas, use:

# !pip uninstall pandas
# !pip install pandas == 0.23.4

3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]

'0.24.2'

In [2]:
# Criando Array com NumPy com elementos 1, 2 , 3 e incluindo o elemento np.nan - not a number / missing
array1 = np.array([1, 2, 3, np.nan]) #np.nan é um atributo NumPy

In [3]:
array1

array([ 1.,  2.,  3., nan])

In [4]:
array1.mean() # Calculando média com valor nan no Array > A computação numérica não sabe tratar com missing
# NumPy é uma biblioteca para computação numérica
# Pandas para tratamento, organização e manipulação de dados

# Apesar de NumPy impossibilitar o cálculo, ele sinaliza que há MISSING
# Pandas desconsidera nan

nan

In [5]:
# Usando Pandas para criar a mesma série do NumPy, tipo de objeto !=
serie2 = pd.Series([1, 2, 3, np.nan])

In [6]:
serie2

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [7]:
serie2.mean() # Em pandas calculou a média e desprezou o missing
# Calculo não considerou todos os elementos

2.0

## Concatenando as Séries

In [8]:
np.random.seed(567)

In [9]:
#Criando objeto serie3, chamando a função rand(), do pacote random, da biblioteca NumPy
serie3 = pd.Series(np.random.rand(5))

In [10]:
serie3 #Série com os índices de 0 a 4

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
dtype: float64

In [11]:
serie4 = pd.Series(np.random.rand(5))

In [12]:
serie4 # Série com os índices de 0 a 4 - mesmo procedimento

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [13]:
combo = pd.concat([serie3, serie4]) # Concatenar pd.concat com [lista uma de séries]

In [14]:
combo # Lado direito valores númericos e lado esquerdo o índice duplicado

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [15]:
combo[0]

0    0.304782
0    0.302074
dtype: float64

In [16]:
combo.index = range(combo.count()) #count() é um método do objeto combo para gerar uma listagem
#Contar quantos elementos tem em combo, passar como parâmbetro para range e atrelar ao .index

In [17]:
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
5    0.302074
6    0.876231
7    0.705643
8    0.681150
9    0.548266
dtype: float64

In [18]:
combo.reindex([0, 2, 16, 21]) #Reindexando a lista de índices, os ausentes retornam NaN

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [19]:
combo.reindex([0, 2, 16, 21], fill_value = 0) #Metódo reindex com ATRIBUTO fill_value para preenchimento

0     0.304782
2     0.964709
16    0.000000
21    0.000000
dtype: float64

In [20]:
new_combo = combo.reindex([0, 2, 16, 21])

In [21]:
new_combo

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [22]:
new_combo.ffill() #Método .ffill() - foward fill, preencher para frente

0     0.304782
2     0.964709
16    0.964709
21    0.964709
dtype: float64

In [23]:
new_combo.bfill() #Método .bfill() - backwardfill, preencher para trás

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [24]:
new_combo.fillna(12) #Método fillna() - preencher com valores passados

0      0.304782
2      0.964709
16    12.000000
21    12.000000
dtype: float64

## Operações com Series - Índices Diferentes

## Em Pandas é permitido fazer operações diretamente com as Series

In [25]:
s1 = pd.Series(np.random.randn(5))
s1

0    0.724774
1    0.124588
2    1.023399
3    2.221557
4    1.130909
dtype: float64

In [26]:
s2 = pd.Series(np.random.randn(5))
s2

0   -0.651538
1   -1.179986
2    0.437101
3   -0.607102
4    1.310954
dtype: float64

In [27]:
s1 + s2 # Operação entre essas duas séries, soma de 2 objetos unidimensionais com índices correspondentes

0    0.073236
1   -1.055398
2    1.460500
3    1.614455
4    2.441862
dtype: float64

In [28]:
s2.index = list(range(3,8)) #Criando range 3 a 8 e convertendo para uma lista e colocar como índice de s2
s2

3   -0.651538
4   -1.179986
5    0.437101
6   -0.607102
7    1.310954
dtype: float64

In [29]:
s1 + s2 # Durante o processo de manipulação de dados muitos valores NaN podem ser gerados
# Ao não encontrar relação entre os índices, o preenchimento é NaN

0         NaN
1         NaN
2         NaN
3    1.570019
4   -0.049077
5         NaN
6         NaN
7         NaN
dtype: float64

In [30]:
s1.reindex(range(10), fill_value = 0) + s2.reindex(range(10), fill_value = 0)
# Reindexação de s1 e s2 e NaN com 0

0    0.724774
1    0.124588
2    1.023399
3    1.570019
4   -0.049077
5    0.437101
6   -0.607102
7    1.310954
8    0.000000
9    0.000000
dtype: float64

In [31]:
s1 = pd.Series(range(1, 4), index = ['a','a','c']); s1
# Série Pandas de 1 a 4exclusivo com índices a, a e c.

a    1
a    2
c    3
dtype: int64

In [32]:
s2 = pd.Series(range(1,4), index = ['a','a','b']); s2
# Série Pandas de 1 a 4exclusivo com índices a, a e b.

a    1
a    2
b    3
dtype: int64

In [33]:
s1 * s2

a    1.0
a    2.0
a    2.0
a    4.0
b    NaN
c    NaN
dtype: float64

In [34]:
s1 + s2

a    2.0
a    3.0
a    3.0
a    4.0
b    NaN
c    NaN
dtype: float64

## Copiando uma Serie

In [35]:
s1_copy = s1.copy()

In [36]:
s1_copy['a'] = 3 #Possível alterar diretamente o objeto indicando valor para determinado índice

In [37]:
s1_copy # Nova série com novo valor

a    3
a    3
c    3
dtype: int64

In [38]:
s1 # Serie original intacta

a    1
a    2
c    3
dtype: int64

## Função map() do Pandas

In [39]:
# Função map() - versão do Pandas
s1.map(lambda x: x ** 2)

a    1
a    4
c    9
dtype: int64

In [40]:
s1.map({1:2,2:3,3:12})

a     2
a     3
c    12
dtype: int64

In [41]:
s1.map({2:3,3:12})

a     NaN
a     3.0
c    12.0
dtype: float64